/* default value */
@import "reset.css";
@import "variable.css";

/* API */
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner&display=swap");

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-raw.css";
@import "components/no-mobile.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* Tip: style.css file에는 font-family와 같이 모든 화면에서 공통적으로 사용하는 것을 모아둠 */
body {
  font-family: "Edu SA Beginner", cursive;
}
.main-screen {
  padding: var(--horizontal-space);
}
.red-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
}
