body {
  height: 100vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div:first-child {
  background-color: tomato;
}
div:nth-child(2) {
  background-color: teal;
}
div:nth-child(3) {
  background-color: burlywood;
}
div:last-child {
  background-color: thistle;
}

#outline {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: bisque;
}

div > * {
  height: 200px;
  width: 150px;
  border: 6px solid white;
}

div > div {
  right: 3px;
  font-weight: 600;
  position: relative;
}
div > p {
  height: 80px;
  width: 138.5px;
  background-color: white;
}

p > span {
  position: relative;
  left: 10px;
  top: 15px;
}
p + span {
  font-size: small;
  position: relative;
  top: -50px;
  left: 10px;
}
