body {
  height: 100vh;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wheatbox {
  height: 300px;
  width: 300px;
  border: 5px solid black;
  background-color: wheat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.insidebox {
  height: 80px;
  width: 80px;
  border: 3px solid white;
  background-color: teal;
}
.middle {
  height: 70px;
  width: 250px;
  border-style: dashed;
}
