body {
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@keyframes cycle {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cycle {
  width: 20%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  animation: cycle 3s ease-in-out infinite;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aliceblue;
}

.wave {
  width: 20%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

@keyframes waveDelay {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2.5);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.stick {
  width: 10px;
  height: 40px;
  background-color: aliceblue;
  animation: waveDelay 1.5s ease-in-out infinite;
}
.a {
  animation-delay: 0s;
}
.b {
  animation-delay: 0.1s;
}
.c {
  animation-delay: 0.2s;
}
.d {
  animation-delay: 0.3s;
}
.e {
  animation-delay: 0.4s;
}
