* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-evenly;
}
main {
  /* 이걸 잘 모르겠네 */
  height: 80%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px whitesmoke;
  margin-top: 50px;
  padding: 0 15px 20px 15px;
}

/* status bar */
.status-bar {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 20px 15px;
}

/* now-playlist  */
.now-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* 👆내가 원하는 center의 기준이 .now-playlist이기 때문에 
  .now-playlist__detail에 넣지 않는다 text-align 넣지 않는다.
  넣어봤자 소용없기도 하고 */
  margin: 10px 0;
}
.circle {
  border-radius: 40px;
  margin-bottom: 20px;
}
.big-square {
  border-radius: 10px;
}
.now-playlist > img {
  box-shadow: 2px 2px 10px -2px grey;
}

.now-playlist__detail {
  margin-bottom: 30px;
}

.now_playlist__detail-lg {
  font-size: x-large;
  font-weight: 600;
  line-height: 1.8;
}
.now_playlist__detail-sm {
  font-size: large;
  font-weight: 600;
  opacity: 0.5;
}

/* menu bar */
.menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  align-items: center;
}
.menu__shuffle {
  background-color: black;
  color: whitesmoke;
  font-size: small;
  padding: 10px 25px;
  border-radius: 1.5em;
}
.menu__like {
  background-color: whitesmoke;
  font-size: small;
  padding: 10px 25px;
  border-radius: 1.5em;
}

/* list */
ul {
  list-style: none;
  padding: 0px 10px;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 1.5em;
  padding: 8px 20px;
}
.list__column {
  display: flex;
}
.list__column > img {
  margin-right: 10px;
  border-radius: 7px;
}
.list__column-detail__name {
  line-height: 1.6;
  font-size: small;
  font-weight: 600;
  opacity: 0.5;
}
.list__column-detail__title {
  font-weight: 600;
}
li > i {
  opacity: 0.5;
}
.list-shadow {
  border-radius: 1.5em;
  box-shadow: 0 2px 5px 1px whitesmoke;
}
.list__column-playing {
  position: relative;
}
.fa-spinner {
  height: 50px;
  width: 50px;
  background-color: gray;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  border-radius: 7px;
  position: absolute;
}

/*play*/
.play-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 3em;
  padding: 7px 20px;
}
.play-status__detail {
  text-align: center;
  padding-left: 10px;
  font-size: x-small;
}
.play-status__detail-name {
  line-height: 1.6;
  color: gray;
  font-size: small;
  font-weight: 600;
}
.play-status__detail-title {
  font-weight: 600;
  color: whitesmoke;
}
.play-status__detail-botton {
  color: whitesmoke;
  margin-right: 5px;
}
.fa-grip-lines-vertical {
  margin-left: 3px;
}
.play-status__detail-botton > .fa-angle-right {
  margin-left: 3px;
}
/* second main */
/* playlist */
.now-playlist__margin {
  margin: 45px 0 30px 0;
}
.detail-lg {
  font-size: xx-large;
}
.detail-sm {
  font-size: small;
}
.big-square {
  margin-bottom: 50px;
}

input[type="range"] {
  accent-color: black;
  height: 5px;
  width: 100%;
}
.play-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.play-time__time {
  position: relative;
  bottom: 5px;
  color: gray;
  font-size: x-small;
}
.play-time > input {
  margin-bottom: 60px;
}

.play-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding: 0 15px;
  color: gray;
}
.play-button__main {
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
}
.fa-play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
