body {
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@keyframes cycle {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cycle {
  width: 20%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  animation: cycle 3s ease-in-out infinite;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aliceblue;
}

.wave {
  width: 20%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

@keyframes waveDelay {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2.5);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
  /* 일정부분을 기본값으로 안만들어주면 개판난다 */
}

.stick {
  width: 10px;
  height: 40px;
  background-color: aliceblue;
  animation: waveDelay 1.5s ease-in-out infinite;
  /* animation은 여기서 동시에 진행이 되는 것이고 a,b,c 에서 delay만 시켜주는 것이므로 
  끝에가 끝날때까지 기다리는 것처럼 보인다 */
}
.a {
  animation-delay: 0s;
}
.b {
  animation-delay: 0.1s;
}
.c {
  animation-delay: 0.2s;
}
.d {
  animation-delay: 0.3s;
}
.e {
  animation-delay: 0.4s;
}
