* {
  box-sizing: border-box;
}
header {
  padding: 40px 0 50px 0;
  height: 120px;
  width: 100%;
  background-color: rgb(255, 189, 17);
}
.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child {
  margin-left: 15px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 600;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.status-bar__column:last-child .fa-battery-full {
  margin: 0 5px 0 5px;
}

/* input */
form {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}
input {
  height: 60px;
  width: 80%;
  margin-bottom: 30px;
  padding: 10px 0px 10px 30px;
  border: none;
  border-radius: 2em;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.fa-search {
  position: relative;
  top: 22px;
  right: 50px;
  opacity: 0.2;
}
main {
  margin-left: 40px;
}
h1 {
  font-size: larger;
  font-weight: 800;
  margin-bottom: 20px;
}
.today-book {
  display: flex;
}
img {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0px 20px 20px 0px;
}
.today-book__title {
  width: 155px;
}
.today-book__title__text__title-edit {
  font-size: larger;
  font-weight: 500;
  line-height: 1.6;
}
.today-book__title__text__edit {
  font-size: 90%;
  opacity: 0.4;
  line-height: 1.8;
}
.today-book__title__text__type {
  margin: 15px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
  font-size: small;
}
.today-book__title__text__type__box {
  height: 20px;
  width: 70px;
  background-color: #efeff6;
  text-align: center;
  padding-top: 2px;
  border-radius: 5px;
}
.today-book__title__text__check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.today-book__title__text__check__figure {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(255, 189, 17);
  position: relative;
}
.fa-bookmark {
  position: relative;
  left: 8px;
  top: 2px;
}
.today-book__title__text__check__book {
  height: 25px;
  width: 80px;
  font-size: small;
  color: whitesmoke;
  background-color: black;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
}
.top-adventures__title {
  margin: 20px 0 20px 40px;
}
ul {
  margin: 0 0 20px 40px;
  display: flex;
  overflow-x: auto;
}
li {
  margin-right: 20px;
}
footer {
  margin: 50px 0 0 40px;
}
.author {
  display: flex;
}
.author__name {
  width: 220px;
}
.the-end {
  font-size: 90%;
  opacity: 0.4;
  line-height: 1.4;
}
.author__name__edit {
  font-size: larger;
  font-weight: 500;
  line-height: 1.4;
}
