* {
  box-sizing: border-box;
}
body {
  border: 5px solid aquamarine;
}
.status-bar {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child {
  display: flex;
  justify-content: center;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.current-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.current-player__figure {
  margin-right: 15px;
  height: 150px;
  width: 150px;
  background-color: #ffbd11;
  border: 2px solid;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-button {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.play-button__play {
  height: 70px;
  width: 170px;
  border: 2px solid black;
  border-radius: 10px;
  /* box-shadow: 0 3px 0 0; */
  border-width: 1px 1px 5px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.fa-caret-right {
  margin-right: 10px;
}
.play-button__like {
  height: 70px;
  width: 70px;
  border: 2px solid;
  border-radius: 50%;
  border-width: 1px 1px 5px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-button__plus {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid;
  border-width: 1px 1px 5px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tomato {
  background-color: tomato;
}
.pink {
  background-color: palevioletred;
}
.blue {
  background-color: blue;
}
.teal {
  background-color: teal;
}

.next-list_one {
  display: flex;
  position: relative;
}
.next-list_two {
  display: flex;

  position: relative;
}
.next-list_three {
  display: flex;
  position: relative;
}
.next-list_four {
  display: flex;
  position: relative;
}

.next-list_figure {
  height: 70px;
  width: 70px;
  border: 2px solid;
  border-radius: 10px;
  margin: 0 10px 40px 0;
  /* background-color: tomato; */
}
.next-list_title {
  position: relative;
  bottom: 15px;
  line-height: 0.7;
}
