.icon-raw {
  display: flex;
  flex-wrap: wrap;
  /* 부모 넓이에 맞게 넓이 강제 축소 다음줄 넘김 */
  /* justify-content: space-between; */
  padding-bottom: 25px;
}
.icon-raw__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.icon-raw__icon i {
  /* class 안의 i 에 한해서 */
  font-size: 30px;
  margin-top: 20px;
}
.icon-raw__icon span {
  margin: 15px 0;
}
