#no-mobile {
  position: absolute;
  z-index: 99;
  background-color: var(--yellow);
  width: 100vw;
  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
