.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px var(--horizontal-space);
  opacity: 90%;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
