.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px var(--horizontal-space);
  /* 상태바 밑에 고정시키기 위함  */
  opacity: 90%;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
.a__red-dot {
  position: relative;
}
.header__red-dot {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
