.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__frined {
  margin-bottom: 20px;
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* common avatar profile default value */
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: large;
}
.user-component__detail {
  display: flex;
  align-items: center;
}
.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.7);
}
.user-component__text span {
  margin: 5px 0 0 3px;
  color: red;
  font-size: small;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}
/* my avatar profile size */
.user-component__avatar-others {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title-others {
  font-weight: 500;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fa-chevron-right {
  margin-left: 5px;
}

.user-component__time {
  display: block;
  margin-bottom: 5px;
}
